.row
  .span12
    h3 Python
    pre.
      import json
      import yaml

      str = '{ "foo": "bar" }'
      data = json.loads(str)
      yml = yaml.safe_dump(data)

      print(yml)

    ul
      li
        code pip install pyyaml || easy_install pyyaml
      li
        a(href="http://docs.python.org/2/library/json.html") json.loads
      li
        a(href="http://stackoverflow.com/questions/1950306/pyyaml-dumping-without-tags") yaml.safe_dump
      li
        a(href="https://bitbucket.org/xi/pyyaml") yaml.dump
